.new-package-input .booking-input-field,
textarea {
  width: 90% !important;
}

.add-package .booking-input {
  width: 70%;
  padding: 3rem 1rem;
}

@media screen and (max-width: 480px) {
  .booking-input {
    width: 100%;
    padding-inline: 8px;
  }

  .add-package-input input,
  .add-package-input textarea {
    padding-inline: 16px !important;
  }
}
