.navbar {
  height: 15vh;
}

.menu li a {
  font-size: 17px;
  font-weight: 500;
  border-radius: 0;
}
.menu li {
  margin-right: 14px;
}
.menu li::after {
  content: "";
  height: 2px;
  width: 0%;
  transition: all ease-in-out 0.4s;
  background: none repeat scroll 0 0 #df6951;
  display: block;
}
.menu li:hover::after {
  width: 100%;
}

.menu li a:hover {
  background-color: transparent;
  color: #fff;
}

.btn-transition {
  transition: all 0.2s ease-out;
}
.btn-transition:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 480px) {
  .menu li a:hover {
    color: black;
  }

  .navbar-end-btn {
    font-size: small;
    width: 100px;
    text-align: center;
    padding-inline: 8px;
  }

  .dropdown label {
    padding-left: 0 !important;
  }
}
