.brands {
  min-height: 105px;
  background: #f7f7f7;
}
.brands img {
  width: 10%;
}

@media screen and (max-width: 480px) {
  .brands {
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .brands img {
    width: 20%;
  }
}
