.brands {
  min-height: 105px;
  background: #f7f7f7;
}
.brands img {
  width: 10%;
}

@media screen and (max-width: 480px) {
  .brands {
    margin-top: 760px;
  }
  .brands img {
    display: block;
    margin: 20px auto;
    width: 20%;
  }
}
