/* Banner Styles */

.banner-container {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-banner {
  display: flex;
  align-items: center;
  height: 75vh;
}

.banner-input-fields {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  background: rgba(243, 243, 243, 0.6);
  backdrop-filter: blur(2px);
  padding: 16px 10px;
}

.banner-input-fields input[type="text"]::placeholder {
  color: white;
}

.banner-input-fields input[type="text"],
select {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  padding-inline: 8px;
  border-right: 3px solid #d0d0d0;
  height: 40px;
}

.banner-input-fields option {
  color: gray;
}

.banner-input-fields input[type="submit"] {
  cursor: pointer;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}

.banner-input-fields a {
  transition: all 0.2s ease-out;
}

.banner-input-fields a:hover {
  transform: translateY(-2px);
}

.scroll-down-icon {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.scroll-down-icon svg {
  height: 40px;
  width: 40px;
  fill: rgb(209, 197, 197);
  stroke: rgb(150, 143, 143);
  animation: scroll-down 3s ease-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
